<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663941129280-8d8rlrp0prvfbe1grv6e9r0m04f5ml9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663941129280-8d8rlrp0prvfbe1grv6e9r0m04f5ml9e</string>
	<key>API_KEY</key>
	<string>AIzaSyBBuHapuqUTqxjoPtl6GjNiueba1-p2EO0</string>
	<key>GCM_SENDER_ID</key>
	<string>663941129280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calmkeen.mySpot</string>
	<key>PROJECT_ID</key>
	<string>myspot-e0151</string>
	<key>STORAGE_BUCKET</key>
	<string>myspot-e0151.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663941129280:ios:dd9bcb606c0e5fa99d6ba5</string>
</dict>
</plist>